<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu ponto de coleta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" href="css/homecelular.css" type="text/css">
    <link rel="stylesheet" href="css/cadastro_coleta.css" type="text/css">
    <!-- <link rel="stylesheet" href="css/form.css" type="text/css">  -->
    <link rel="stylesheet" href="css/bg_img.css" type="text/css">
    <link rel="stylesheet" href="css/fonte.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <link rel="shortcut icon" href="img/icon_reciclagem-Naoseidasdquasnt.png" type="image/x-icon">
    <link rel="stylesheet" href="css/erro.css">

</head>
<body>
    <div class="bg_img">
        <div class="conteudo_pag-1000">
            <header id="header">
                <a href="/">
                    <div id="logotipoNPR">
                      <img src="img/logotipoNPRcelularcomNPRPARAFORA.svg" width="120px" height="120px">
                    </div>
                  </a>
                <div id="logo">
        
                </div>
                <nav id="nav">
                    <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                        aria-expanded="false">Menu
                        <span id="hamburger"></span>
                    </button>
                    <ul id="menu" role="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/status">Status</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/cadastro">Cadastro</a></li>
                        <li class="pag_active"><a href="/ponto_cadastro">Ponto de coleta</a></li>
                    </ul>
                </nav>
            </header>
          
          <div class="conteudo_principal_regua" style="background-color:white;">
            <form action="/add_ponto_coleta" method="post" class="container">
                <h1>Cadastro de ponto de coleta</h1>
                <div class="msg" style="margin: auto;">
                    <% for(i=0; i < msg.length; i++) {%>
                        <div id="frase_erro"><%=msg[i]%></div>
                    <%}%>
                  </div>
     
                <div class="form-floating m-4 ">
                    <input type="email" name="endEmailUsuario" id="floatingInput" class="form-control" placeholder="joao@gmail.com" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating m-4 ">
                    <input type="password" name="endSenhaUsuario" id="floatingPassword" class="form-control" placeholder="Senha" autocomplete="off" min="6" required>
                    <label for="floatingPassword">Senha</label>
                </div>

                <div class="form-floating m-4">
                    <input type="text" name="nomePontocoleta" id="floatingInput" class="form-control" placeholder="Nome da instituição">
                    <label for="floatingInput">Nome da instituição</label>
                </div>
        

        
                <div class="form-floating m-4 ">
                    <input type="text" name="enderecoPontoReferencia" id="floatingInput" class="form-control" placeholder="Ponto de referencia">
                    <label for="floatingInput">Ponto de referencia</label>
                </div>
        
                <div class="form-floating m-4 ">
                    <input type="text" name="enderecoCepPontocoleta" id="floatingCep" class="form-control infoCep" placeholder="CEP" maxlength="9" onblur="consultarCEP()" required>
                    <label for="cep">Informe o CEP</label>
                </div>
        
                <div class="form-floating m-4 ">
                    
                    <input type="text" name="" id="floatingInput_rua" class="form-control" readonly>
                    <label for="floatingInput_rua">Rua</label>
                
                </div>
                <div class="row mb-5">
                    <div class="form-floating col col-6">
                    
                        <input type="text" name="" id="floatingInput_bairro" class="form-control" readonly>
                        <label for="floatingInput_bairro">Bairro</label>
                    
                    </div>
                    <div class="form-floating col col-6">
                    
                        <input type="text" name="" id="floatingInput_cidade" class="form-control" readonly>
                        <label for="floatingInput_cidade">Cidade</label>
                    
                    </div>
                </div>
        
                <label for="formFile" class="form-label">Selecione uma foto para o perfil<span class="bg-warning p-1 rounded">(Utilize o link de uma imagem)</span> </label>
                <!-- <input type="file" name="enderecoImagemPontocoleta" id="formFile" class="form-control"> -->
                <input type="text" name="enderecoImagemPontocoleta" id="" class="form-control">
                <h2 class="mb-5">Tipo de coleta</h2>
                <div class="btn-group d-flex justify-content-center mb-5">
                    
                    <input type="checkbox" name="lixoEletronico" id="btncheck1" class="btn-check m1" autocomplete="off">
                    <label for="btncheck1" class="btn btn-outline-success">Lixo Eletrônico</label>
        
                    <input type="checkbox" name="lixoOrganico" id="btncheck2" class="btn-check" autocomplete="off">
                    <label for="btncheck2" class="btn btn-outline-success">Lixo Orgânico</label> 
        
                    <input type="checkbox" name="lixoOleo" id="btncheck3" class="btn-check" autocomplete="off">
                    <label for="btncheck3" class="btn btn-outline-success">Oléo</label>
        
                    <input type="checkbox" name="lixoReciclavel" id="btncheck4" class="btn-check" autocomplete="off">
                    <label for="btncheck4" class="btn btn-outline-success">Lixo Reciclável</label>
                </div>
                <div class="form-floating m-4 ">
                    <textarea name="enderecoPontoDescricao" id="floatingTextarea" cols="60" rows="10" class="form-control" placeholder="Descrição do Ponto" style="height: 200px;"></textarea>
                    <label for="floatingTextarea">Descrição do ponto</label>
                </div>
                <input type="submit" value="Enviar" class="btn btn-primary m-4" style="width: 150px;">
                <input type="reset" value="Resetar" class="btn btn-danger m-4" style="width: 150px;">
            </form>
          </div>
        </div>

        <footer id="rodape">
            <h3 id="contato">Email para contato: <strong>npr.contato@gmail.com</strong></h3>
            <h3 id="contato">Email para dúvidas: <strong>npr.duvidas@gmail.com</strong></h3>
            <h2 id="redes_sociais">Redes Sociais</h2>
            <nav id="icones_sociais">
              <ul>
                <li><a href="#" target="_blank"><img src="img/facebook.png" alt="" id="icon"></a></li>
                <li><a href="https://www.instagram.com/n.p.r.brasilsp/" target="_blank"><img src="img/instagram (2).png"
                      alt="" id="icon"></a></li>
                <li><a href="#" target="_blank"><img src="img/twitter.png" alt="" id="icon"></a></li>
              </ul>
            </nav>
          </footer>
    </div>

    <script>
                
      
        const campoCEP = document.getElementById('floatingCep')

        campoCEP.addEventListener('input', () => {
            console.log("MASCARA DO CEP EM")
            let value = campoCEP.value.replace(/\D/g, ''); // Remove caracteres não numéricos

            if (value.length === 8) {
                campoCEP.value = value.replace(/(\d{5})(\d{3})/, '$1-$2');
            }
        });
//////////

function consultarCEP() {

const cep = campoCEP.value.replace('-','');
console.log(cep)
console.log("Procurando cep")
console.log(`https://viacep.com.br/ws/${cep}/json/`)

if (cep.length === 8) {
axios.get(`https://viacep.com.br/ws/${cep}/json/`)
    .then(response => {
        const endereco = response.data;
        if (endereco.erro) {
            console.log('CEP não encontrado');
            
            document.getElementById("cepInvalido").innerHTML = "CEP inválido"
        } else {
            console.log(endereco)
            // document.getElementById("cepInvalido").innerHTML = ""
            document.getElementById('floatingInput_rua').value = endereco.logradouro;
            document.getElementById('floatingInput_bairro').value = endereco.bairro;
            document.getElementById('floatingInput_cidade').value = endereco.localidade;
            // Preencha outros campos de endereço que você deseja exibir
        }
    })
    .catch(error => {
        console.log('Erro ao consultar o CEP:', error);
    });
} 
else if(cep.length < 7)
{
document.getElementById("cepInvalido").innerHTML = ""
            document.getElementById('floatingInput_rua').value = "";
            document.getElementById('floatingInput_bairro').value = "";
            document.getElementById('floatingInput_cidade').value = "";
            console.log("CEP INVALIDO")
}
}
</script>


    <script src="js/imagem_seletor.js"></script>
    <script src="js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="js/mascara.js"></script>
</body>
</html>
