<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios cadastrados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bg_img.css">
    <link rel="stylesheet" href="css/fonte.css">
    <link rel="stylesheet" href="css/homecelular.css">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="shortcut icon" href="img/icon_reciclagem-Naoseidasdquasnt.png" type="image/x-icon">
</head>
<body>
    <!-- <h1>pagina de perfil</h1>

    <a href="/">Home page</a>

    <main>
        <h2>Olá, <%= nomeUsuario %></h2>
    </main> -->

    <div class="bg_img">
        <div class="conteudo_pag-1000">
          
            <header id="header">
                <a href="/">
                    <div id="logotipoNPR">
                      <img src="img/logotipoNPRcelularcomNPRPARAFORA.svg" width="120px" height="120px">
                    </div>
                  </a>
                <div id="logo">
        
                </div>
                <nav id="nav">
                  <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                    aria-expanded="false">Menu
                    <span id="hamburger"></span>
                  </button>
                  <ul id="menu" role="menu">
                    <li ><a href="/">Home</a></li>
                    <li><a href="/status">Status</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/cadastro">Cadastro</a></li>
                    <li><a href="/ponto_cadastro">Ponto de coleta</a></li>
                    <!-- <li><a href="/perfil">Lista usuario</a></li> -->
                  </ul>
                </nav>
              </header>

              <%
              var palavras = nomeUsuario; 
              var frase = palavras.split(" ");
              var primeiras = frase.slice(0, 2);
              var usuario = primeiras.join(" "); 
            %><!--Tratamento para mostrar apenas nome e sobrenome do usuario-->

            <div class="alert alert-warning">
              <p>EM MANUTENÇÂO</p>
            </div>
               <main class="container mt-5">
                <section class="row ">

                    <article class="col-12 bg-primary text-center">
                        <h2 class="p-2">CABECALHO DA TELA DE PERFIL SLA</h2>
                    </article>

                    <article class="col col-6 bg-dark text-white">
                    
                            <img src="img/<%=fotoUsuario%>" alt="" class="rounded mx-auto d-block bg-white mt-2 mb-2" style="width: 100px;" >
                       
                     
                    </article>
                    <article class="col col-6 bg-warning text-white">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae eius doloribus voluptates? Inventore et alias dolor id corrupti voluptatum, consequuntur officia delectus. Est sequi, incidunt quidem reiciendis repudiandae commodi vitae?
                        </p>
                    </article>
                </section>
              </main>
        </div>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <script>
    </script>
</body>
</html>